<?xml version="1.1" encoding="UTF-8"?><project>
  <actions/>
  <description>Deploy spark cluster against kubernetes</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_REGISTRY</name>
          <description>docker registry adddress (i.e. myregistry:8080 )</description>
          <defaultValue>instance-1.us-east1-b.c.sandbox-224519.internal:8080</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MASTER_IMAGE_NAME</name>
          <description>docker image name proper</description>
          <defaultValue>sparkmaster</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>K8S_NAMESPACE</name>
          <description>kubernetes deployment namespace</description>
          <defaultValue>bsavoy</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SPARK_MASTER_URL</name>
          <description>unique url for spark master node</description>
          <defaultValue>spark-cluster-01</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REPLICAS</name>
          <description>number of workers to create</description>
          <defaultValue>2</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WORKER_IMAGE_NAME</name>
          <description/>
          <defaultValue>sparkworker</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WORKER_SHAPE_MEM</name>
          <description/>
          <defaultValue>4096M</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WORKER_SHAPE_CPU</name>
          <description/>
          <defaultValue>1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://zerodown524@bitbucket.org/zerodown524/kalytical.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/initial</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.3.2">
      <server plugin="docker-commons@1.13"/>
      <registry plugin="docker-commons@1.13">
        <url>http://$DOCKER_REGISTRY</url>
      </registry>
      <repoName>$MASTER_IMAGE_NAME</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <buildContext>spark/master</buildContext>
      <dockerfilePath>spark/master/Dockerfile</dockerfilePath>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag>$BUILD_NUMBER</repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
      <buildAdditionalArgs/>
      <forceTag>false</forceTag>
    </com.cloudbees.dockerpublish.DockerBuilder>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.3.2">
      <server plugin="docker-commons@1.13"/>
      <registry plugin="docker-commons@1.13">
        <url>http://$DOCKER_REGISTRY</url>
      </registry>
      <repoName>$WORKER_IMAGE_NAME</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <buildContext>spark/worker</buildContext>
      <dockerfilePath>spark/worker/Dockerfile</dockerfilePath>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag>${BUILD_NUMBER}</repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
      <buildAdditionalArgs/>
      <forceTag>false</forceTag>
    </com.cloudbees.dockerpublish.DockerBuilder>
    <com.microsoft.jenkins.kubernetes.KubernetesDeploy plugin="kubernetes-cd@0.2.3">
      <context>
        <kubeconfigId>k8s-kube-config-secret</kubeconfigId>
        <credentialsType>KubeConfig</credentialsType>
        <ssh>
          <sshServer/>
          <sshCredentialsId>*</sshCredentialsId>
        </ssh>
        <kubeConfig>
          <path/>
        </kubeConfig>
        <textCredentials>
          <serverUrl>https://</serverUrl>
          <certificateAuthorityData/>
          <clientCertificateData/>
          <clientKeyData/>
        </textCredentials>
        <configs>spark/spark-cluster-deploy.yaml</configs>
        <enableConfigSubstitution>true</enableConfigSubstitution>
        <secretName/>
      </context>
    </com.microsoft.jenkins.kubernetes.KubernetesDeploy>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>