<?xml version="1.1" encoding="UTF-8"?><project>
  <actions/>
  <description>deploy single streamsets to kubernetes</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_REGISTRY</name>
          <description>docker registry adddress (i.e. myregistry:8080 )</description>
          <defaultValue>DOCKER_REG_URL</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_NAME</name>
          <description>docker image name proper</description>
          <defaultValue>sdc</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>K8S_NAMESPACE</name>
          <description>kubernetes deployment namespace</description>
          <defaultValue>bsavoy</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SDC_URL</name>
          <description/>
          <defaultValue>NEXUS_URL/repository/raw-artifacts/oss/streamsets-datacollector-all-3.6.1.tgz</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SDC_SERVICE_URL</name>
          <description/>
          <defaultValue>STREAMSETS_URL</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/yetanotherdudecoding/kalytical.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/initial</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.3.2">
      <server plugin="docker-commons@1.13"/>
      <registry plugin="docker-commons@1.13">
        <url>http://$DOCKER_REGISTRY</url>
      </registry>
      <repoName>$IMAGE_NAME</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <buildContext>streamsets</buildContext>
      <dockerfilePath>streamsets/Dockerfile</dockerfilePath>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag>$BUILD_NUMBER</repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
      <buildAdditionalArgs>--build-arg DOCKER_REGISTRY=$DOCKER_REGISTRY --build-arg SDC_URL=$SDC_URL</buildAdditionalArgs>
      <forceTag>false</forceTag>
    </com.cloudbees.dockerpublish.DockerBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
sed -i 's/${K8S_NAMESPACE}/'"$K8S_NAMESPACE"'/g' streamsets/sdc-deploy.yaml
sed -i 's/${DOCKER_REGISTRY}/'"$DOCKER_REGISTRY"'/g' streamsets/sdc-deploy.yaml
sed -i 's/${IMAGE_NAME}/'"$IMAGE_NAME"'/g' streamsets/sdc-deploy.yaml
sed -i 's/${BUILD_NUMBER}/'"$BUILD_NUMBER"'/g' streamsets/sdc-deploy.yaml
kubectl apply -f streamsets/sdc-deploy.yaml -n $K8S_NAMESPACE --kubeconfig /home/.kube/config</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>streamsets/importSdcPipelines.sh $SDC_SERVICE_URL</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
