<?xml version="1.1" encoding="UTF-8"?><project>
  <actions/>
  <description>Run spark application on kubernetes</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>NUM_EXECUTORS</name>
          <description>Number of spark executors</description>
          <defaultValue>2</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>K8S_NAMESPACE</name>
          <description/>
          <defaultValue>bsavoy</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>SUBMIT_PARAMS</name>
          <description/>
          <defaultValue>--master k8s://https://kubernetes.default:443 \
--deploy-mode cluster \
--name spark-pi \
--class org.apache.spark.examples.SparkPi \
--conf spark.executor.instances=1 \
--conf spark.kubernetes.container.image=instance-1.us-east1-b.c.sandbox-224519.internal:8080/spark:2.3.1 \
--conf spark.kubernetes.namespace=bsavoy
http://instance-1.us-east1-b.c.sandbox-224519.internal/repository/dataproducts/examples/spark-examples_2.11-2.3.1.jar</defaultValue>
          <trim>false</trim>
        </hudson.model.TextParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SUBMIT_POD_IMAGE</name>
          <description>Pod used to submit spark job to kubernetes</description>
          <defaultValue>instance-1.us-east1-b.c.sandbox-224519.internal:8080/submitpod:201812263</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://zerodown524@bitbucket.org/zerodown524/kalytical.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/initial</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sed -i 's/$K8S_NAMESPACE/bsavoy/g' spark/spark-rbac.yaml
kubectl apply -f spark/spark-rbac.yaml -n bsavoy --kubeconfig /home/.kube/config</command>
    </hudson.tasks.Shell>
    <com.microsoft.jenkins.kubernetes.KubernetesDeploy plugin="kubernetes-cd@0.2.3">
      <context>
        <kubeconfigId>k8s-kube-config-secret</kubeconfigId>
        <credentialsType>KubeConfig</credentialsType>
        <ssh>
          <sshServer/>
          <sshCredentialsId>*</sshCredentialsId>
        </ssh>
        <kubeConfig>
          <path/>
        </kubeConfig>
        <textCredentials>
          <serverUrl>https://</serverUrl>
          <certificateAuthorityData/>
          <clientCertificateData/>
          <clientKeyData/>
        </textCredentials>
        <configs>spark/spark-job.yaml</configs>
        <enableConfigSubstitution>true</enableConfigSubstitution>
        <secretName/>
      </context>
    </com.microsoft.jenkins.kubernetes.KubernetesDeploy>
    <hudson.tasks.Shell>
      <command>spark/checkJobStatus.sh spark-job-$JOB_NAME-$BUILD_NUMBER</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>